name: Rust

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
      - master
  pull_request:
  merge_group:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -y build-essential pkg-config m4 python3 python3-distutils llvm llvm-dev lld libclang-dev clang libx11-dev
      - name: Run tests
        if: contains(matrix.os, 'windows')
        run: cargo test --verbose --features "egl build_dlls"
      - name: Run test (POSIX)
        if: ${{ !contains(matrix.os, 'windows') }}
        env:
          CC: clang
          CXX: clang++
          #LLVM_CONFIG_PATH: /usr/local/bin/llvm-config-14.0
          LIBCLANG_PATH: /usr/lib/llvm-14/lib
          #CLANG_PATH: /usr/bin/clang
        run: |
          cargo test --verbose

  build_result:
    name: homu build finished
    runs-on: ubuntu-latest
    needs:
      - "build"

    steps:
      - name: Mark the job as successful
        run: exit 0
        if: success()
      - name: Mark the job as unsuccessful
        run: exit 1
        if: "!success()"
